{% extends 'NeurologiaBusquedaBundle:Default:index.html.twig' %}

{% block menubusqueda %}
    
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">B&uacute;squeda avanzada de pacientes</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'method': 'GET'}) }}
                <table>
                    <tbody>
                        <tr>
                            <th>{{ form_label(form.categoriaDiagnostico) }}</th>
                            <th>{{ form_label(form.droga) }}</th>
                            <th>{{ form_label(form.sexo) }}</th>
                            <th>{{ form_label(form.edad) }}</th>
                            <th>{{ form_label(form.efectoAdverso) }}</th>
                            <th>{{ form_errors(form) }}</th>
                        </tr>
                        <tr>
                            <td>{{ form_widget(form.categoriaDiagnostico) }}</td>
                            <td>{{ form_widget(form.droga) }}</td>
                            <td>{{ form_widget(form.sexo) }}</td>
                            <td>{{ form_widget(form.edad) }}</td>
                            <td>{{ form_widget(form.efectoAdverso) }}</td>
                            <td>
                                {{ form_widget(form.search,{ 'attr': {'class': 'btn btn-primary'} }) }}
                                {{ form_widget(form.reset,{ 'attr': {'class': 'btn btn-primary'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form_errors(form.categoriaDiagnostico) }}</td>
                            <td>{{ form_errors(form.droga) }}</td>
                            <td>{{ form_errors(form.sexo) }}</td>
                            <td>{{ form_errors(form.edad) }}</td>
                            <td>{{ form_errors(form.efectoAdverso) }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            {{ form_end(form) }}

        {% block mensaje %}
            <span>
                {% if valoreselegidos %}
                    {{ valoreselegidos }}
                {% endif %}
            </span>
        {% endblock %}
        
        {% block lista %}

        <table class="datatable_bootstrap table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de nacimiento</th>
                    <th>Sexo</th>
                    <th>Enfermedad Actual</th>
                </tr>
            </thead>
            <tbody>
                {% for tupla in lista %}
                    <tr>
                       <td>{{ tupla.nombre }}</td>
                       <td>{{ tupla.apellido }}</td>
                       <td>{{ tupla.fechaNacimiento|date('d/m/Y') }}</td>
                       <td>{{ tupla.sexo }}</td>
                       <td>{{ tupla.enfermedad }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endblock %}
        </div>
    </div>
            
{% endblock %}        