{% extends 'NeurologiaBusquedaBundle:Default:index.html.twig' %}

{% block menubusqueda %}
    
    <div class="panel panel-primary centro" >

        <div class="panel-heading">
            <h3 class="panel-title">B&uacute;squeda de pacientes</h3>
        </div>
        <div class="panel-body">

            {% for flashMessage in app.session.flashbag.get('mensaje') %}

                <div class="alert alert-success" role="alert" style="display:block">
                    {{ flashMessage }}
                </div>

            {% endfor %}
            
            {% block lista %}

                <table class="datatable_bootstrap table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Documento</th>
                            <th>Fecha de nacimiento</th>
                            <th>Telefono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tupla in lista %}
                            <tr>
                                <td>{{ tupla.nombre }}</td>
                                <td>{{ tupla.apellido }}</td>
                                <td>{{ tupla.documento }}</td>
                                <td>{{ tupla.fechaNacimiento|date('d/m/Y') }}</td>
                                <td>{{ tupla.telefono }}</td>
                                <td>
                                    <a href="{{- path('paciente_show', { 'id': tupla.id }) -}}">
                                        <button type="submit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                            <img src="{{- asset('public/images/glyphicons/glyphicons-237-zoom-in.png') -}}" alt="Detalle de paciente" title="Detalle de paciente"/>
                                        </buton>
                                    </a>
                                    <a href="{{- path('paciente_edit', { 'id': tupla.id }) -}}">
                                        <button type="submit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                            <img src="{{- asset('public/images/glyphicons/glyphicons-151-edit.png') -}}" alt="Editar datos filiatorios" title="Editar datos filiatorios"/>
                                        </buton>
                                    </a>
                                        
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DOCTOR') %}
                                        <form method="post" action="{{ path('neurolgia_acceder_paciente') }}">
                                            <input type="hidden" name="paciente_id" value="{{ tupla.id }}">
                                            <button type="submit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                                <img src="{{- asset('public/images/glyphicons/glyphicons-300-hospital-h.png') -}}" alt="Ver Historia Clínica" title="Ver Historia Clínica"/>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>     
                </table>

            {% endblock %}
        </div>
        <a style="float:right;margin-top:20px;" class="btn btn-primary" href="{{- path('paciente_new') -}}">Nuevo paciente</a>
    </div>
          
{% endblock %}