{% extends 'NeurologiaBusquedaBundle:Default:index.html.twig' %}
{% block titulobusqueda %} {{ titulobusqueda }}{% endblock %}
{% block menubusqueda %}
    {{ form_start(form, {'method': 'GET'}) }}
        <table>
            <tbody>
                <tr>
                    <th>{{ form_label(form.nombre) }}</th>
                    <th>{{ form_label(form.apellido) }}</th>
                    <th>{{ form_label(form.documento) }}</th>
                    <th>{{ form_label(form.usuario) }}</th>
                    <th>{{ form_label(form.activo,'Estado') }}</th>
                    <th>{{ form_errors(form) }}</th>
                </tr>
                <tr>
                    <td>{{ form_widget(form.nombre) }}</td>
                    <td>{{ form_widget(form.apellido) }}</td>
                    <td>{{ form_widget(form.documento) }}</td>
                    <td>{{ form_widget(form.usuario) }}</td>
                    <td>{{ form_widget(form.activo,{ 'attr': {'checked': 'checked'} }) }}</td>
                    <td>{{ form_widget(form.search) }}<br>{{ form_widget(form.reset) }}</td>
                </tr>
                <tr>
                    <td>{{ form_errors(form.nombre) }}</td>
                    <td>{{ form_errors(form.apellido) }}</td>
                    <td>{{ form_errors(form.documento) }}</td>
                    <td>{{ form_errors(form.usuario) }}</td>
                    <td>{{ form_errors(form.activo) }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {{ form_end(form) }}

{% endblock %}
{% block mensaje %}
    <span>{{ lista|length }} 
            usuario{% if lista|length != 1 %}s{% endif %} 
            encontrado{% if lista|length != 1 %}s{% endif %}
        {% if valoreselegidos %}
            {{ valoreselegidos }}
        {% endif %}
        </span>
{% endblock %}
{% block lista %}
<div class="table-responsive">
	<table class="table">
    <tbody>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento</th>
                <th>Nombre de usuario</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
            {% for tupla in lista %}
               <tr>
                   <td>{{ tupla.nombre }}</td>
                   <td>{{ tupla.apellido }}</td>
                   <td>{{ tupla.documento }}</td>
                   <td>{{ tupla.username }}</td>
                   <td>{% if tupla.enabled %}✓{% else %}No{% endif %}</td>
                   <td><a href="#" title="Ver" class="">Ver</a><a href="#" title="Editar" class="">Editar</a></td>
                </tr>
	{% endfor %}
            </tbody>
</table>
    </div>
{% endblock %}