{% extends 'NeurologiaBusquedaBundle:Default:index.html.twig' %}

{% block menubusqueda %}
    
    <div class="panel panel-primary centro" >

        <div class="panel-heading">
            <h3 class="panel-title">B&uacute;squeda de usuarios</h3>
        </div>
        <div class="panel-body">

            {% for flashMessage in app.session.flashbag.get('mensaje') %}

                <div class="alert alert-success" role="alert" style="display:block">
                    {{ flashMessage }}
                </div>

            {% endfor %}        

            {% block lista %}

                <table class="datatable_bootstrap table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Documento</th>
                            <th>Nombre de usuario</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tupla in lista %}
                            <tr>
                                <td>{{ tupla.nombre }}</td>
                                <td>{{ tupla.apellido }}</td>
                                <td>{{ tupla.documento }}</td>
                                <td>{{ tupla.username }}</td>
                                <td>
                                    <span style="display:none;">{{ tupla.enabled }}</span>
                                    {% if tupla.enabled %}
                                        <img src="{{- asset('public/images/glyphicons/glyphicons-153-check.png') -}}" alt="Usuario activo" title="Usuario activo"/>
                                    {% else %}
                                        <img src="{{- asset('public/images/glyphicons/glyphicons-521-user-ban.png') -}}" alt="Usuario inactivo" title="Usuario inactivo"/>
                                    {% endif %}
                                </td>
                                <td>
                                    
                                    <a href="{{- path('admin_show', { 'id': tupla.id }) -}}">
                                        <button type="button" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                            <img src="{{- asset('public/images/glyphicons/glyphicons-237-zoom-in.png') -}}" alt="Detalle de usuario" title="Detalle de usuario"/>
                                        </buton>
                                    </a>
                                    <a href="{{- path('admin_edit', { 'id': tupla.id }) -}}">
                                        <button type="button" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                            <img src="{{- asset('public/images/glyphicons/glyphicons-151-edit.png') -}}" alt="Editar usuario" title="Editar usuario"/>
                                        </buton>
                                    </a>
                                    <form method="POST" action="{{- path('fos_user_resetting_send_email') -}}">
                                        <input type="hidden" name="username" value="{{- tupla.username -}}" />
                                        <button type="submit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                            <img src="{{- asset('public/images/glyphicons/glyphicons-241-rotation-lock.png') -}}" alt="Reestablecer contraseña" title="Reestablecer contraseña"/>
                                        </buton>
                                    </form>
                                </td>

                             </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endblock %}
        </div>
        <a style="float:right;margin-top:20px;" class="btn btn-primary" href="{{- path('neurologia_register') -}}">Nuevo usuario</a>
    </div>

{% endblock %}
