{% block contenido %}
    <!--<div>
         <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'tratamiento_interno_nuevo','tab':'Evolucion'}) }}">Tratamiento interno</a><br>
          <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'tratamiento_externo_nuevo','tab':'Evolucion'}) }}">Tratamiento externo</a><br>
    </div>-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Evoluci&oacute;n / Agregar tratamiento externo</h3>
        </div>
     <div class="panel-body">
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <table><tr><td>{{ form_label(form.descripcion) }}</td><td>{{ form_widget(form.descripcion) }}</td><td>{{ form_errors(form.descripcion) }}</td></tr>
        </table>
        <span class="help-block">Debe introducir una descripci&oacute;n para el tratamiento que desea agregar.</span>
    

    <div>

        {{ form_widget(form.aceptar, { 'attr': {'class': 'btn btn-primary'} }) }}
          <div>
			<input class="btn btn-primary" style="margin-top:10px" type="button" onclick=" window.history.back()" value='Volver' />
		</div>

    </div>

    {{ form_end(form) }}    


</div>
    </div>
{% endblock %}