{% block contenido %}
    <!--<div>
         <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'tratamiento_interno_nuevo','tab':'Evolucion'}) }}">Tratamiento interno</a><br>
          <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'tratamiento_externo_nuevo','tab':'Evolucion'}) }}">Tratamiento externo</a><br>
    </div>-->

    <div class="panel panel-primary" style="margin: auto; margin-top:15px; margin-bottom:15px; width: 650px;">
        <div class="panel-heading">
            <h3 class="panel-title">Evoluci&oacute;n / Agregar tratamiento externo</h3>
        </div>
     <div class="panel-body">
    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_label(form.descripcion) }}<br>{{ form_widget(form.descripcion, { 'attr': {'class': 'form-control','cols':'50'} }) }}<br>{{ form_errors(form.descripcion) }}<br>
        
        <span class="help-block">Debe introducir una descripci&oacute;n para el tratamiento que desea agregar.</span>
    

    <div>

        {{ form_widget(form.aceptar, { 'attr': {'class': 'btn btn-primary'} }) }}
          <div>
			<input class="btn btn-primary" style="margin-top:10px" type="button" onclick=" window.history.back()" value='Volver' />
		</div>

    </div>

    {{ form_end(form) }}    


</div>
    </div>
{% endblock %}