
   


{% block body %}
 <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Tratamientos internos</div>
    {% if tratamientos is not empty %}
        
        {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert" style="display:block">
            {{ flashMessage }}
        </div>
            
        {% endfor %}
        
       

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Descripci&oacute;n</th>
                        <th>Fecha de inicio</th>
                        <th>Activo</th>
                        <th>Drogas</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for t in tratamientos %}
                        <tr>
                            <td>{{ t.descripcion }}</td>
                            <td>{% if t.inicio=='-' %}{{ t.inicio }}{% else %}{{ t.inicio|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if t.activo %}Sí{% else %}No{% endif %}</td>
                            <td>{{ t.drogas }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                
                {% else %}
        
        <label> No existen tratamientos internos para este paciente. </label>
        
    {% endif %}
        </div>
    <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Tratamientos externos</div>
    {% if tratamientosex is not empty %}
                

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for tex in tratamientosex %}
                        <tr>
                            <td>{{ tex.descripcion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
              
    {% else %}
        
        <label> No existen tratamientos externos para este paciente. </label>
        
    {% endif %}
    </div>
{% endblock %}