{% block contenido %}
    <!--<div>
         <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'tratamiento_interno_nuevo','tab':'Evolucion'}) }}">Tratamiento interno</a><br>
          <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'tratamiento_externo_nuevo','tab':'Evolucion'}) }}">Tratamiento externo</a><br>
    </div>-->

    <legend>Tratamiento Externo:</legend>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div>
        {{ form_label(form.descripcion) }}
        {{ form_errors(form.descripcion) }}
        {{ form_widget(form.descripcion) }}
        <span class="help-block">Debe introducir una descripci&oacute;n para el tratamiento que desea agregar.</span>
    </div>

    <div>

        {{ form_widget(form.aceptar, { 'attr': {'class': 'btn btn-primary'} }) }}
          <div>
			<input class="btn btn-primary" style="margin-top:10px" type="button" onclick=" window.history.back()" value='Volver' />
		</div>

    </div>

    {{ form_end(form) }}    



{% endblock %}