{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/tratamiento_interno.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('tratamiento_interno_new') }}" class="help-block"><input type="radio" name="opt_tratamiento" />Tratamiento interno</a>
        <a href="{{ path('tratamiento_externo_new') }}" class="help-block"><input type="radio" name="opt_tratamiento" />Tratamiento externo</a>
    </div>
<fieldset>
    <legend>Tratamiento Interno:</legend>

        {{ form_start(form) }}
            
            {{ form_errors(form) }}
            <div>
                {{ form_label(form.descripcion) }}
                {{ form_errors(form.descripcion) }}
                {{ form_widget(form.descripcion) }}
            </div>

            <div>
                {{ form_label(form.inicio) }}
                {{ form_errors(form.inicio) }}
                {{ form_widget(form.inicio) }}
            </div>
            <div>
                {{ form_label(form.activo) }}
                {{ form_errors(form.activo) }}
                {{ form_widget(form.activo) }}
            </div>
            
            {% if medicamentos is not empty %}
                
                <div>
                    <label class="required">Listado de medicamentos, efectos adversos y dosis</label>

                    <div class="div_medicamentos">

                        <div class="div_medicamento">

                            <div id="div_medicamento_1">
                                <label>Medicamento: </label>
                                <select id="neurologia_bdbundle_tratamientointerno[select_medicamentos_1]" name="neurologia_bdbundle_tratamientointerno[select_medicamentos_1]" class="select_medicamentos">

                                    {% for medicamento in medicamentos %}

                                        <option value="{{ medicamento.id }}">{{ medicamento.descripcion }}</option>

                                    {% endfor %}

                                </select>
                                <label>Efecto adverso: </label>
                                <select id="neurologia_bdbundle_tratamientointerno[select_efectos_adversos_1]" name="neurologia_bdbundle_tratamientointerno[select_efectos_adversos_1]" class="otro">

                                    {% for efectos_adverso in efectos_adversos %}

                                        <option value="{{ efectos_adverso.id }}">{{ efectos_adverso.descripcion }}</option>

                                    {% endfor %}

                                </select>
                                <label>Dosis: </label>
                                <input type="textarea" id="neurologia_bdbundle_tratamientointerno[textarea_dosis_1]" name="neurologia_bdbundle_tratamientointerno[textarea_dosis_1]"/>
                                <span class="help-block">Debe introducir una descripci&oacute;n para la dosis del medicamento que provey&oacute; al paciente.</span>
                            </div>
                        </div>  
                    </div>
                    <div>
                        <button id="add_medicamentos" type="button" class="btn btn-primary btn-xs">+</button>&nbsp;
                        <button id="remove_medicamento" type="button" class="btn btn-primary btn-xs">-</button>
                    </div>
                </div>
                                
            {% else %}
                
                <div>
                    <label>No existen medicamentos para agregar al tratamiento, debe agregarlos <a href="{{ path('droga') }}">aqu&iacute;</a>.</label>
                </div>
                
            {% endif %}
            <div>
                
                {{ form_widget(form.aceptar) }}
                
            </div>
            
        {{ form_end(form) }}    
    
  </fieldset>
        


{% endblock %}