{% extends 'NeurologiaGenericosBundle:Default:abm.html.twig' %}

{% block container %}
    
    {{ parent() }}
    
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Estados Civiles</h3>
        </div>
        <div class="panel-body">
            <table class="datatable_bootstrap table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Descripci&oacute;n</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.descripcion }}</td>
                            <td>
                                <a href="{{- path('estadocivil_edit', { 'id': entity.id }) -}}">
                                    <img src="{{- asset('public/images/glyphicons/glyphicons-151-edit.png') -}}" alt="Editar" title="Editar"/>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a style="float:right" class="btn btn-primary" href="{{- path('estadocivil_new') -}}">Nuevo</a>
            
{% endblock %}