<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Servicio de Neurologia{% endblock %}</title>
        
        {%block javascripts %}            
            <script src="{{ asset('public/js/jquery-2.1.1.min.js') }}"></script>            
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/lib/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('public/js/lib/dataTables.bootstrap.js') }}"></script>
            <script src="{{ asset('public/js/datatable_bootstrap.js') }}"></script>
                
        {%endblock javascripts%}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap-theme.min.css') }}">
            <link href="{{asset('public/css/jquery-ui-1.11.2.custom/jquery-ui.css')}}" rel="stylesheet">
            <link href="{{asset('public/css/dataTables.bootstrap.css')}}" rel="stylesheet">
            <link href="{{asset('public/css/estaticos.css')}}" rel="stylesheet">
        {%endblock stylesheets%}

	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
</head>
<body>
    {% block menu %}

        {% if is_granted('ROLE_ADMIN')%}

            {% include 'NeurologiaUserBundle:Default:adminMenu.html.twig' %}

        {% elseif is_granted('ROLE_DOCTOR') %}

            {% include 'NeurologiaUserBundle:Default:userMenu.html.twig' %}

        {% elseif is_granted('ROLE_SECRETARY') %}

            {% include 'NeurologiaUserBundle:Default:secretarioMenu.html.twig' %}

        {% endif %}
        
    {% endblock %}
    
    {% block datosPaciente %}
        
    {% endblock %}

    {% block body %}
  
        <div class="bienvenida">
            <img class="img_bienvenida" src="{{ asset('public/images/OLDLogo.png') }}" alt="Logo SiRHC" title="SiRHC" />
            <h5>Bienvenido al Sistema de Registro de Historias Cl&iacute;nicas</h5>
        </div>
            
    {% endblock %}

</body>
</html>
