{% extends 'NeurologiaGenericosBundle:Default:abm.html.twig' %}

{% block container %}
	<div align="center" style="text-align:center">
		<h1>Listado de Departamentos </h1>
	</div>

	{% include 'NeurologiaGenericosBundle:Default:mensajes.html.twig' %}
	
    <div class="table-responsive">
	<table class="table">
        <thead>
            <tr>
                <th>Descripcion</th>
                <!--<th>Ver</th>-->
				<th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <!--<td>
					<a href="{{ path('departamento_show', { 'id': entity.id }) }}">
						<img src="{{ asset('bundles/firstbundle/images/ver.png') }}" alt="Ver" />
					</a>
				</td>-->
                <td>
					<a href="{{ path('departamento_edit', { 'id': entity.id }) }}">
						<img src="{{ asset('bundles/firstbundle/images/edit.png') }}" alt="Editar" />
					</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>

	<a style="float:right" class="btn btn-primary" href="{{ path('departamento_new') }}">
		Nuevo
	</a>
{% endblock %}