<script>
    $(document).ready(function () {        
        $('.oculto').hide();
        $( "#down" ).show();
        $(".boton").click(function () {
            $('.oculto').toggle();
        });
    });
</script>

<div class="pacienteHistoria">

    <div class="panel panel-default">

        <div class="panel-heading">
            <b>{{paciente.apellido}}, {{paciente.nombre}}</b>
            <div style="float:right;">
                <img id="down" src="{{ asset('public/images/down.png') }}" alt="Mostrar" class="boton oculto" />
                <img id="up" src="{{ asset('public/images/up.png') }}" alt="Mostrar" class="boton oculto" />
            </div>
        </div>

        <div class="oculto">
            <div class="panel-body"> 
                
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.tipoDocumento %}
                        <b>{{paciente.tipoDocumento.descripcion}}: </b>&nbsp;{{ paciente.documento }}
                    {% endif %}
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.sexo %}
                        <b>Sexo: </b>&nbsp;{{paciente.sexo.descripcion}}
                    {% endif %}
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.obraSocial %}
                        <b>Obra Social:</b>&nbsp;{{paciente.obraSocial.descripcion}} N°({{ paciente.numeroCarnet }})
                    {% else %} 
                        <b>Obra Social:</b>&nbsp; No tiene.
                    {%endif%}
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.email %}
                        <b>Mail:</b>&nbsp;{{paciente.email}}
                    {% endif %}
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.nivelEducacional %}
                        <b>Nivel de educación:</b>&nbsp;{{paciente.nivelEducacional.descripcion}}
                    {% endif %}
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.direccion %}
                        <b>Dirección:</b>&nbsp;{{paciente.direccion}}
                    {% endif %}                
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.fechaNacimiento %}
                        <b>Fecha Nacimiento:</b>&nbsp;{{paciente.fechaNacimiento|date('d/m/Y')}}
                    {% endif %}
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.telefono %}
                        <b>Teléfono:</b>&nbsp;{{paciente.telefono}}
                    {% endif %}                
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.ocupacion %}
                        <b>Ocupacion:</b>&nbsp;{{paciente.ocupacion}}
                    {% endif %}
                </div>
                <div style="float:left;width:300px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.estadoCivil %}
                        <b>Estado civil:</b>&nbsp;{{paciente.estadoCivil}}
                    {% endif %}
                </div>
                <div style="float:left;width:500px;display:inline-block; padding-bottom: 10px;">
                    {% if paciente.otros %}
                        <b>Comentarios:</b>&nbsp;{{paciente.otros}}
                    {% endif %}
                </div>
                <div style="float:right;margin-top: 20px;">
                     {% if paciente.id %}
                        <a href="{{- path('paciente_edit', { 'id': paciente.id }) -}}" class="btn btn-primary">
                            Editar Datos Filiatorios
                        </a>
                    {% endif %}               
                </div>
            </div>
        </div>
    </div>
</div>     



