<div id="example">
    <div class="ui vertical inverted sidebar menu left" id="menu">
        <div class="item">
            <a class="ui logo icon image" href="#">
                <img src="{{ asset('public/images/Logo.png') }}">
            </a>
            <!-- <a href="#"><b>Neurolog&iacute;a</b></a> -->
        </div>

        <div class="item">
            <div class="ui small  inverted header">Enfermedad Actual</div>
            <div class="menu">
                <a class="item" href="#">{{ historia.enfermedad }}</a>
            </div>
        </div>
        <div class="item">
            <div class="ui small  inverted header">Admitido Por</div>
            <div class="menu">
                <a class="item" href="#">{{ historia.usuario }}</a>
            </div>
        </div>
        <div class="item">
            <div class="ui small  inverted header">Motivo</div>
            <div class="menu">
                <a class="item" href="#">{{ historia.motivo }}</a>
            </div>
        </div>
        <div class="item">
            <div class="ui small  inverted header">Derivado por</div>
            <div class="menu">
                <a class="item" href="#">{{ historia.departamento }}</a>
            </div>
        </div>
        <div class="item">
            <div class="ui small  inverted header">Historial</div>
            {% for i in listado %}
                <div class="menu">
                    <i class="calendar icon"></i>
                    {{ i.fecha|date('Y-m-d') }}
                    <a class="item" href="#">
                        <u>{{ i.tipo }}{% if i.tipoDetalle %} {{ i.tipoDetalle }}{% endif %}</u>: <i> {{i.descripcion|capitalize}}</i>
                    </a>
                    {% if i.droga %}
                        <a class="item" href="#">
                            Droga(dosis):
                        </a>
                        {% for d in i.droga %}
                            <a class="item" href="#">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ d.droga }} ({{d.dosis}})
                            </a>
                        {% endfor %}

                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui black big launch right attached fixed button">
        <i class="content icon"></i>
        <span class="text">Historia Cl&iacute;nica</span>
    </div>

</div>