<div id="example">
    <div class="ui vertical very wide sidebar menu right" style="padding-left:10px" id="menu">
        <div class="item" style="text-align: left;">
            <div style="float:left;width: 120px;">
                <a class="ui logo icon image" href="#">
                  <img src="{{ asset('public/images/Logo.png') }}">
                </a>
            </div>
            <div style="float:right;width: 150px;text-align:center;">
                <a style="float:right;" class="item" href="{{ url('neurologia_historia_clinica_epicrisis') }}" target="_blank" >

                    <strong>Generar epicrisis</strong>
                    <img src="{{ asset('public/images/images.jpg') }}" style="width: 130px">
                </a>
            </div>
        </div>
        
        <div class="item" style="clear:both;">
            <span class="ui small header">Enfermedad actual: </span>
            <span class="menu">
            <a class="item" style="display: inline" href="#">{{ historia.enfermedad|capitalize }}</a>
            </span>
        </div>
        <div class="item">
            <span class="ui small header">Admitido por: </span>
            <span class="menu">
                <a class="item" style="display: inline" href="#">{{ historia.usuario|capitalize }}</a>
            </span>
        </div>
        <div class="item">
            <span class="ui small header">Motivo: </span>
            <span class="menu">
                <a class="item" style="display: inline" href="#">{{ historia.motivo|capitalize }}</a>
            </span>
        </div>
        <div class="item">
            <span class="ui small header">Derivado por: </span>
            <span class="menu">
                <a class="item" style="display: inline" href="#">{{ historia.departamento|capitalize }}</a>
            </span>
        </div>
        <div class="item">
            <div class="ui small header">Historial</div>
            {% for i in listado %}
                {% if loop.first %}
                 {% set date = i.fecha|date('d/m/Y') %}
                 <div class="menu">
                     <i class="calendar icon"></i>
                     {{ i.fecha|date('d/m/Y') }}
                 {% endif %}
                 {% if i.fecha|date('d/m/Y') != date %}
                 </div>
                 {% set date = i.fecha|date('d/m/Y') %} 
                 <div class="menu">   
                     <i class="calendar icon"></i>
                     {{ i.fecha|date('d/m/Y') }}
                 {% endif %}
                     <a class="item" href="#">
                         <u><strong>{{ i.tipo }}{% if i.tipoDetalle %} {{ i.tipoDetalle }}{% endif %}</strong></u>: <i> {{i.descripcion|capitalize}}</i>
                     </a>
                     {% if i.droga %}
                         <a class="item" href="#">
                             Droga(dosis):
                         </a>
                         {% for d in i.droga %}
                             <a class="item" href="#">
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ d.droga }} ({{d.dosis}})
                             </a>
                         {% endfor %}
 
                     {% endif %}
                     {% if loop.last %}
                     </div>
                     {% endif %}
            {% endfor %}
        </div>
    </div>
    <div style="position:fixed;right:0px;" class="ui white big launch right attached button">
        <i class="content icon"></i>
        <span class="text">Historia Cl&iacute;nica</span>
    </div>

</div>