{% extends '::base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
            <link href="{{asset('public/css/estilo.css')}}" rel="stylesheet">
{%endblock stylesheets%}

{% block datosPaciente %}
    {% if paciente %}
        <div class="pacienteHistoria">    
        <h3>{{paciente.apellido}}, {{paciente.nombre}}</h3>
        
            <img  href="{{ asset('public/images/mas.png') }}" alt="Mostrar" class="boton" />
       
            Datos Personales<br><br>
        <div class="oculto">
            <table class="table">
            {% if paciente.tipoDocumento %}<tr><td> <b>{{paciente.tipoDocumento.descripcion}}:</b> {{ paciente.documento }} </td></tr>{% endif %}
            {% if paciente.sexo %}<tr><td> <b>Sexo:</b>   {{paciente.sexo.descripcion}}</td></tr>{% endif %}
            {% if paciente.obraSocial %}<tr><td> <b>Obra Social:</b>   {{paciente.obraSocial.descripcion}} N°({{ paciente.numeroCarnet }})</td></tr>{% else %} <tr><td> <b>Obra Social:</b> No tiene.</td></tr>{%endif%}<br>
            {% if paciente.email %}<tr><td> <b>>Mail:</b>    {{paciente.email}}</td></tr>{% endif %}
            {% if paciente.nivelEducacional %}<tr><td> <b>Nivel de educación:</b>    {{paciente.nivelEducacional.descripcion}}</td></tr>{% endif %}
            {% if paciente.direccion %}<tr><td> <b>Dirección:</b>    {{paciente.direccion}}</td></tr>{% endif %}
            {% if paciente.fechaNacimiento %}<tr><td> <b>Fecha Nacimiento:</b>    {{paciente.fechaNacimiento|date('Y-m-d')}}</td></tr>{% endif %}
            {% if paciente.telefono %}<tr><td> <b>Teléfono:</b>    {{paciente.telefono}}</td></tr>{% endif %}
            {% if paciente.ocupacion %}<tr><td> <b>Ocupacion:</b>    {{paciente.ocupacion}}</td></tr>{% endif %}
            </table>
                  
            
        </div>
        </div>
                <script>
                        $(document).ready(function(){
                            $('.oculto').hide();
                            $(".boton").click(function(){
                                 $('.oculto').toggle();
                              });
                          });
                </script>
    {% endif %}
{% endblock %}

{% block body %}

    {% if paciente %}
   <div class="contenidoHistoria">
    <div class="encabezadoHistoria">
        <hr>
        <h2>HISTORIA CLINICA</h2>      
        {% if historia %}
            <table class="table">
            <tr><td> <b>Enfermedad Actual:</b> {{ historia.enfermedad }} </td></tr>
            <tr><td> <b>Atendido Por:</b> {{ historia.usuario }} </td></tr>
            <tr><td> <b>Motivo:</b> {{ historia.motivo }} </td></tr>
            <tr><td> <b>Derivado por:</b> {{ historia.departamento }} </td></tr>
            </table>
            <br>
          <!--  <button type="submit" label="Epicrisis"><a href="{{ url('neurologia_historia_clinica_epicrisis', {'idpaciente': paciente.id}) }}" target="a_blank" >Generar Epicrisis</a></button>
           --> <hr><br>
     </div>
     <div class="listadoHistoria">
            <table class="table">            
            {% for i in listado %}
               
                <tr><td><b>{{ i.fecha|date('Y-m-d') }} - {{ i.tipo }}{% if i.tipoDetalle %},{{ i.tipoDetalle }}{% endif %}</b>:<br>
                
                {{i.descripcion}}{% if i.droga %}<br>--Drogas:<br>
                                       {% for d in i.droga %}
                                           <br>
                                           * {{ d.droga }} ({{d.dosis}})
                                       {% endfor %}
                                 {% endif %}
               </td></tr>
            {% endfor %}
            </table>
        {% else %}
            {{ form(iniciar) }}
            <hr>
        {% endif %}
    </div>  
   </div>
    <br>
    <div class="solapaHistoria">
        {% if historia %}
            <ul class="nav nav-tabs" id='ulTab' onload='funcion();'>
            <li role="presentation" onclick='activar(this);' id='liTabMotivo'><a href="{{ url('neurologia_historia_clinica_homepage', {'solapa':'Motivo'}) }}">Motivo</a></li>
            <li role="presentation" onclick='activar(this);' id='liTabEnfermedad'><a href="{{ url('neurologia_historia_clinica_homepage', {'solapa':'Enfermedad'}) }}">Enfermedad Actual</a></li>
            <li role="presentation" onclick='activar(this);' id='liTabAntecedente'><a href="{{ url('neurologia_historia_clinica_homepage', {'solapa':'Antecedente'}) }}">Antecedente</a></li>
            <li role="presentation" onclick='activar(this);' id='liTabEvolucion'><a href="{{ url('neurologia_historia_clinica_homepage', {'solapa':'Evolucion'}) }}">Evolucion</a></li>
            <li role="presentation" onclick='activar(this);' id='liTabEstudio'><a href="{{ url('neurologia_historia_clinica_homepage', {'solapa':'Estudio'}) }}">Estudios</a></li>
            <li role="presentation" onclick='activar(this);' id='liTabDiagnostico'><a href="{{ url('neurologia_historia_clinica_homepage', {'solapa':'Diagnostico'}) }}">Diagnosticos</a></li>
            <li role="presentation" onclick='activar(this);' id='liTabTratamiento'><a href="{{ url('neurologia_historia_clinica_homepage', {'solapa':'Tratamiento'}) }}">Tratamientos</a></li>
            </ul>
            {% if solapa is defined %}
                
                {{ solapa|raw }}
                
                <script>
                        var tab = '{{ tab }}';
                        li = document.getElementById ("ulTab").getElementsByTagName("LI");
                        for(i = 0; i < li.length; ++i){
                                li[i].setAttribute("class", "");
                        }
                        objeto = document.getElementById('liTab'+tab);
                        objeto.setAttribute("class", "active");	    
                        
                </script>
            {% endif %}
        {% else %}
            Inicie la historia para empezar
        {% endif %}
    </div>
{% else %}
    error
{% endif %}
{% endblock %}
