{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('public/css/estilo.css') }}" rel="stylesheet">   
    <link href="{{ asset('public/css/docs.css') }}" rel="stylesheet">
    <link href="{{ asset('public/css/preview.min.css') }}" rel="stylesheet">
    <link class="ui" href="{{ asset('public/css/semantic.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('public/js/lib/highlight.min.js') }}"></script>
    <script src="{{ asset('public/js/lib/semantic.min.js') }}"></script>
   {# <script src="{{ asset('public/js/tabs-addon.js') }}"></script>#}
    <script src="{{ asset('public/js/lib/docs.js') }}"></script>


{% endblock javascripts %}

{% if paciente is not empty %}

    {% block datosPaciente %}

        {{ include('NeurologiaHistoriaClinicaBundle:Default:datosPaciente.html.twig', { 'paciente': paciente }) }} 

    {% endblock %}

{% endif %}

{% block body %}

    {% if paciente %}

        {% if historia %}

            {{ include('NeurologiaHistoriaClinicaBundle:Default:historiaClinicaLateral.html.twig') }} 
            
            <div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll centro"> 
                
                {{ include('NeurologiaHistoriaClinicaBundle:Default:solapas.html.twig') }}
                
                
                
                
            </div>
            
        {% else %}

            {{ form(iniciar) }}

        {% endif %}

    {% else %}

        Error.

    {% endif %}

{% endblock %}

