{% extends '::base.html.twig' %}

{% block body %}
{{ form_start(iniciar) }}
    {{ form_errors(iniciar) }}

    
    <br>
    {{ form_row(iniciar.derivado, { 'attr': {'class': 'form-control'} }) }}
    <br>
    {{ form_row(iniciar.motivo, { 'attr': {'class': 'form-control'} }) }}
    <br>
    {{ form_row(iniciar.enfermedad, { 'attr': {'class': 'form-control'} }) }}
    <br>
    * Los campos son obligatorios
    <br>
    {{ form_row(iniciar.enviar, { 'attr': {'class': 'btn btn-primary'} }) }}   
    
    
{{ form_end(iniciar) }}

<a href="{{ url('neurologia_historia_clinica_homepage', {'idpaciente': historia }) }}">VOLVER</a>
{% endblock %}