<div class="solapaHistoria"> 
<ul class="nav nav-tabs" id='ulTab' onload='funcion();'>
                    <li role="presentation" onclick='activar(this);' id='liTabMotivo'><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'motivo_listar', 'tab':'Motivo'}) }}">Motivo</a></li>
                    <li role="presentation" onclick='activar(this);' id='liTabEnfermedad'><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'enfermedad_listar', 'tab':'Enfermedad'}) }}">Enfermedad Actual</a></li>
                    <li role="presentation" onclick='activar(this);' id='liTabAntecedente'><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'antecedente_listar', 'tab':'Antecedente'}) }}">Antecedente</a></li>
                    <li role="presentation" onclick='activar(this);' id='liTabEvolucion'><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'evolucion_listar', 'tab':'Evolucion'}) }}">Evolucion</a></li>
                    <li role="presentation" onclick='activar(this);' id='liTabEstudio'><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'estudio_listar', 'tab':'Estudio'}) }}">Estudios</a></li>
                    <li role="presentation" onclick='activar(this);' id='liTabDiagnostico'><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'diagnostico_listar', 'tab':'Diagnostico'}) }}">Diagnosticos</a></li>
                    <li role="presentation" onclick='activar(this);' id='liTabTratamiento'><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'tratamiento_listar', 'tab':'Tratamiento'}) }}">Tratamientos</a></li>
                    <li role="presentation" id='liTabTratamiento'><a href="{{ url('neurologia_historia_clinica_epicrisis') }}" target="_blank">Epicrisis</a></li>
                </ul>

                {% if contenido is defined %}

                    {{ contenido|raw }}

                    <script>
                        var tab = '{{ tab }}';
                        li = document.getElementById("ulTab").getElementsByTagName("LI");
                        for (i = 0; i < li.length; ++i) {
                            li[i].setAttribute("class", "");
                        }
                        objeto = document.getElementById('liTab' + tab);
                        objeto.setAttribute("class", "active");

                    </script>
                {% endif %}
</div>