{% block contenidoEvolucion %}

    <script>

        var $collectionHolder;
        var $addImagenLink = $('<a href="#" class="add_imagen_link">Agregar imagen</a>');
        var $newLinkLi = $('<li class="list-group-item"></li>').append($addImagenLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#imagenes');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function () {
                addImagenFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addImagenLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addImagenForm($collectionHolder, $newLinkLi);
            });
        });

        function addImagenForm($collectionHolder, $newLinkLi) {
// Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

// get the new index
            var index = $collectionHolder.data('index');

// Replace '__name__' in the prototype's HTML to
// instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

// increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

// Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addImagenFormDeleteLink($newFormLi);
        }

        function addImagenFormDeleteLink($imagenFormLi) {
            var $removeFormA = $('<a href="#">Borrar imagen</a>');
            $imagenFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $imagenFormLi.remove();
            });
        }

    </script>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Evolución / Agregar estudio</h3>
        </div>
        <div class="panel-body">

            {{ form_start(form) }}
            <table><tr><td>{{ form_label(form.descripcion) }}</td><td>{{ form_widget(form.descripcion) }}</td><td>{{ form_errors(form.descripcion) }}</td></tr>
                <tr><td>{{ form_label(form.fecha) }}</td><td>{{ form_widget(form.fecha) }}</td><td>{{ form_errors(form.fecha) }}</td></tr>
                <tr><td>{{ form_label(form.institucion) }}</td><td>{{ form_widget(form.institucion) }}</td><td>{{ form_errors(form.institucion) }}</td></tr>
                <tr><td>{{ form_label(form.tipoEstudio) }}</td><td>{{ form_widget(form.tipoEstudio) }}</td><td>{{ form_errors(form.tipoEstudio) }}</td></tr>
            </table>
            <ul class="list-group" id="imagenes"
                data-prototype="{{ include('NeurologiaEstudioBundle:Default:prototype.html.twig', { 'form': form.imagenes.vars.prototype })}}"         
                ></ul>

            {{ form_row(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}

            {{ form_end(form) }} 


            {% if error is not empty %}
                <br>
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ error }}
                </div>

            {% endif %}

        {% endblock %}
        <div>
            <input class="btn btn-primary" style="margin-top:10px" type="button" onclick=" window.history.back()" value='Volver' />
        </div> 

    </div>
</div>


