{% extends '::base.html.twig' %}

{% block body -%}

<div class="panel panel-primary" style="margin: auto; width: 1150px;">

    <div class="panel-heading">
        <h3 class="panel-title">Edicion de paciente</h3>
    </div>
    <div class="panel-body">
        {{ form_start(edit_form, {'action': path('paciente_update', {  'id': entity.id  } ), 'method': 'PUT'}) }}
		
            {{ form_errors(edit_form) }}
            <div>
                <div style="width: 250px; float: left; margin: 25px;">
                    <div>
                        {{ form_label(edit_form.nombre) }}
                        <br>
                        {{ form_widget(edit_form.nombre, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.apellido) }}
                        <br>
                        {{ form_widget(edit_form.apellido, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.sexo) }}
                        <br>
                        {{ form_widget(edit_form.sexo, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.tipoDocumento) }}
                        <br>
                        {{ form_widget(edit_form.tipoDocumento, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>

                </div>
                    
                <div style="width: 250px; float: left; margin: 25px;">
                    <div>
                        {{ form_label(edit_form.documento) }}
                        <br>
                        {{ form_widget(edit_form.documento, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.fechaNacimiento) }}
                        <br>
                        {{ form_widget(edit_form.fechaNacimiento, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.telefono) }}
                        <br>
                        {{ form_widget(edit_form.telefono, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.direccion) }}
                        <br>
                        {{ form_widget(edit_form.direccion, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    
                </div>
                    
                <div style="width: 250px; float: left; margin: 25px;">


                    <div>
                        {{ form_label(edit_form.email) }}
                        <br>
                        {{ form_widget(edit_form.email, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.estadoCivil) }}
                        <br>
                        {{ form_widget(edit_form.estadoCivil, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.nivelEducacional) }}
                        <br>
                        {{ form_widget(edit_form.nivelEducacional, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.ocupacion) }}
                        <br>
                        {{ form_widget(edit_form.ocupacion, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    
                </div>

                <div style="width: 150px; float: left; margin: 25px;">

                    <div>
                        {{ form_label(edit_form.obraSocial) }}
                        <br>
                        {{ form_widget(edit_form.obraSocial, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.numeroCarnet) }}
                        <br>
                        {{ form_widget(edit_form.numeroCarnet, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(edit_form.otros) }}
                        <br>
                        {{ form_widget(edit_form.otros, { 'attr': { 'style': 'float: left;width: 180px; height: 115px;' } }) }}
                    </div>   
                </div>
                <div style="float: right; margin-top: 20px;">
                     {{ form_widget(edit_form.submit, { 'attr': { 'class': 'btn btn-primary'} }) }}
                     <a class="btn btn-primary" href="{{- path('neurologia_busqueda_paciente') -}}">
                         Volver
                     </a>
                </div>
                    
            </div>
        {{ form_end(edit_form) }}
    </div>
</div>



{% endblock %}
