{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Pacientes</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Documento</th>
                <th>Fecha de Nacimiento</th>
                <th>Telefono</th>
                <th>Ocupacion</th>
                <th>Otros</th>
                <th>Numero de Carnet</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('paciente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.documento }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.otros }}</td>
                <td>{{ entity.numeroCarnet }}</td>
                <td>{{ entity.email }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('paciente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('paciente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('paciente_new') }}">
                Nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
