{% extends '::base.html.twig' %}

{% block body -%}

<div class="panel panel-primary" style="margin: auto; width: 1200px;">

    <div class="panel-heading">
        <h3 class="panel-title">Registro de pacientes</h3>
    </div>
    <div class="panel-body">
        {{ form_start(form, {'action': path('paciente_create'), 'method': 'POST'}) }}

            {{ form_errors(form) }}
            <div>
                <div style="width: 250px; float: left; margin: 25px;">
                    <div>
                        {{ form_label(form.nombre) }}
                        <br>
                        {{ form_widget(form.nombre, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.apellido) }}
                        <br>
                        {{ form_widget(form.apellido, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.sexo) }}
                        <br>
                        {{ form_widget(form.sexo, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.tipoDocumento) }}
                        <br>
                        {{ form_widget(form.tipoDocumento, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>

                </div>
                    
                <div style="width: 250px; float: left; margin: 25px;">
                    <div>
                        {{ form_label(form.documento) }}
                        <br>
                        {{ form_widget(form.documento, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.fechaNacimiento) }}
                        <br>
                        {{ form_widget(form.fechaNacimiento, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.telefono) }}
                        <br>
                        {{ form_widget(form.telefono, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.direccion) }}
                        <br>
                        {{ form_widget(form.direccion, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    
                </div>
                    
                <div style="width: 250px; float: left; margin: 25px;">


                    <div>
                        {{ form_label(form.email) }}
                        <br>
                        {{ form_widget(form.email, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.estadoCivil) }}
                        <br>
                        {{ form_widget(form.estadoCivil, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.nivelEducacional) }}
                        <br>
                        {{ form_widget(form.nivelEducacional, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.ocupacion) }}
                        <br>
                        {{ form_widget(form.ocupacion, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    
                </div>

                <div style="width: 200px; float: left; margin: 25px;">

                    <div>
                        {{ form_label(form.obraSocial) }}
                        <br>
                        {{ form_widget(form.obraSocial, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.numeroCarnet) }}
                        <br>
                        {{ form_widget(form.numeroCarnet, { 'attr': { 'style': 'float: left;' } }) }}
                    </div>
                    <br><br><br>
                    <div>
                        {{ form_label(form.otros) }}
                        <br>
                        {{ form_widget(form.otros, { 'attr': { 'style': 'float: left;width: 180px; height: 115px;' } }) }}
                    </div>

                </div>
                <div style="float: right; margin-top: 20px;">
                     {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-primary'} }) }}
                     <a class="btn btn-primary" href="{{- path('neurologia_busqueda_paciente') -}}">
                         Volver
                     </a>
                 </div>
                         
            </div>
            
        {{ form_end(form) }}
    </div>    
</div>
        
{% endblock %}
