{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pacientes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ entity.documento }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.fechaNacimiento|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Ocupacion</th>
                <td>{{ entity.ocupacion }}</td>
            </tr>
            <tr>
                <th>Otros</th>
                <td>{{ entity.otros }}</td>
            </tr>
            <tr>
                <th>Numerocarnet</th>
                <td>{{ entity.numeroCarnet }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('paciente') }}">
            Volver
        </a>
    </li>
    <li>
        <a href="{{ path('paciente_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
