{% extends '::base.html.twig' %}

{% block body %}
    
    <div class="panel panel-primary" style="margin: auto; width: 950px;">

        <div class="panel-heading">
            <h3 class="panel-title">Detalle de los datos del paciente seleccionado</h3>
        </div>
        <div class="panel-body">

            <div>
                {% if entity is not empty %}

                    <div style="width: 250px; float: left; margin: 25px;">
                        <div>
                            <strong>Nombre:</strong>&nbsp;{{ entity.nombre }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Apellido:</strong>&nbsp;{{ entity.apellido }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Sexo:</strong>&nbsp;{{ entity.sexo }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Tipo de documento:</strong>&nbsp;{{ entity.tipoDocumento }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>N&uacute;mero de documento:</strong>&nbsp;{{ entity.documento }}
                        </div>
                        <br><br><br> 

                    </div>

                    <div style="width: 250px; float: left; margin: 25px;">
                                               
                        <div>
                            <strong>Fecha de nacimiento:</strong>&nbsp;{{ entity.fechaNacimiento|date('d/m/Y') }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Estado civil:</strong>&nbsp;{{ entity.estadoCivil }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Tel&eacute;fono:</strong>&nbsp;{{ entity.telefono }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Direcci&oacute;n:</strong>&nbsp;{{ entity.direccion }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Nivel educacional:</strong>&nbsp;{{ entity.nivelEducacional }}
                        </div>
                        <br><br><br>

                    </div>

                    <div style="width: 250px; float: left; margin: 25px;">
                        <div>
                            <strong>Ocupaci&oacute;n:</strong>&nbsp;{{ entity.ocupacion }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Obral Social:</strong>&nbsp;{{ entity.obraSocial }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Nro. de carnet:</strong>&nbsp;{{ entity.numeroCarnet }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Email:</strong>&nbsp;{{ entity.email }}
                        </div>
                        <br><br><br>
                        <div>
                            <strong>Comentarios:</strong>&nbsp;{{ entity.otros }}
                        </div>

                    </div>
                    <div style="float: right; margin-top: 20px;">
                        <a class="btn btn-primary" href="{{- path('neurologia_busqueda_paciente') -}}">
                            Volver
                        </a>
                        <a class="btn btn-primary" href="{{- path('paciente_edit', { 'id': entity.id }) -}}">
                            Editar paciente
                        </a>
                    </div>

                {% else %}

                    <label>El usuario seleccionado no se encuentra disponible.</label>

                {% endif %}
            </div>            
        </div>
    </div>

{% endblock %}
