{% block menu %}    
    
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          
        <a class="navbar-brand" href="{{ path('neurologia_main_homepage') }}" style="padding:5px 25px" ><img src="{{ asset('public/images/Logo-bar.png') }}" alt="Servicio de Neurolog&iacute;a"></a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administraci&oacute;n <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="{{ path('tipoestudio') }}">Tipos de estudio</a></li>
				<li><a href="{{ path('droga') }}">Medicamentos</a></li>
				<li><a href="{{ path('tipodocumento') }}">Tipos de documento</a></li>
				<li><a href="{{ path('tipoantecedente') }}">Tipos de antecedente</a></li>
				<li><a href="{{ path('niveleducacional') }}">Nivel educacional</a></li>
				<li><a href="{{ path('estadocivil') }}">Estado civil</a></li>
				<li><a href="{{ path('obrasocial') }}">Obras sociales</a></li>
				<li><a href="{{ path('sexo') }}">Sexo</a></li>
				<li><a href="{{ path('departamento') }}">Departamento</a></li>
				<li><a href="{{ path('efectoadverso') }}">Efectos adversos</a></li>
				<li><a href="{{ path('categoriadiagnostico') }}">Categoria de diagn&oacute;stico</a></li>
			</ul>
            </li>
			<li><a href="{{ path('neurologia_register') }}">Registrar usuario</a></li>
			<li><a href="{{ path('neurologia_estudio_nuevo')}}">Agregar estudio</a></li>   
			<li><a href="{{ path('paciente_new')}}">Agregar paciente</a></li>
			<li><a href="{{ path('neurologia_diagnostico_homepage') }}">Diagnostico</a></li>
                        <li><a href="{{ path('tratamiento_interno_new') }}">Agregar tratamiento interno</a></li>
                        <li><a href="{{ path('tratamiento_externo_new') }}">Agregar tratamiento externo</a></li>
          <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">B&uacute;squeda <b class="caret"></b></a>
                        <ul class="dropdown-menu">                            
                            <li><a href="{{ path('neurologia_busqueda_usuario') }}">B&uacute;squeda de usuarios</a></li>
                            <li><a href="{{ path('neurologia_busqueda_paciente') }}">B&uacute;squeda de pacientes</a></li>
                            <li><a href="{{ path('neurologia_busqueda_avanzada') }}">B&uacute;squeda avanzada de pacientes </a></li>
                        </ul>
          </li>
                            

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <a class="btn btn-default navbar-btn" href="{{ path('fos_user_security_logout') }}">Salir</a>
        </ul>
      </div>
    </div>

{% endblock %}



