{% block menu %}    
    
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          
        <a class="navbar-brand" href="{{ path('neurologia_main_homepage') }}" style="padding:5px 25px" ><img src="{{ asset('public/images/Logo-bar.png') }}" alt="Servicio de Neurolog&iacute;a"></a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administraci&oacute;n <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('neurologia_bd_homepage')}}">Backup</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pacientes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('paciente_new')}}">Registro de pacientes</a></li>
                    <li><a href="{{ path('neurologia_busqueda_paciente') }}">B&uacute;squeda de pacientes</a></li>
                </ul>
            </li>
        
        </ul>
		<ul class="nav navbar-nav navbar-right" style="float: right;">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{- asset('public/images/glyphicons/glyphicons-4-user.png') -}}" alt="Datos de usuario" title="Datos de usuario"/>
                    <img src="{{- asset('public/images/glyphicons/glyphicons-602-chevron-down.png') -}}" alt="Datos de usuario" title="Datos de usuario"/>
                </a>
                <ul class="dropdown-menu" style="width: 300px;">
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center">
                                        <img src="{{- asset('public/images/icon-user.png') -}}" alt="Imagen de usuario" title="Imagen de usuario"/>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left"><strong>{{ app.user.nombre~' '~app.user.apellido }}</strong></p>
                                    <p class="text-left small">{{ app.user.email }}</p>
                                    <p class="text-left">
                                        <a href="{{ path('user_edit', {'id' : app.user.id } ) }}" class="btn btn-primary btn-sm">Actualizar Datos</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-login navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
      </div>
    </div>

{% endblock %}