{% block menu %}    
    
    <div class="navbar navbar-default">
        
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
          </div>
        <a class="navbar-brand" href="{{ path('neurologia_main_homepage') }}" style="padding:5px 25px" ><img src="{{ asset('public/images/Logo-bar.png') }}" alt="Servicio de Neurolog&iacute;a"></a>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
		<li><a href="{{ path('paciente_new') }}">Nuevo paciente</a></li>
			<li><a href="{{ path('neurologia_busqueda_paciente')}}">Buscar paciente</a></li>   
			<li><a href="{{ path('neurologia_register')}}">Backup</a></li>
			</ul>
			</div>
      </div>
      
    </div>

{% endblock %}



