{% extends "NeurologiaUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
        
        <div class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="{{ path('neurologia_main_homepage') }}" style="padding:5px 25px" ><img src="{{ asset('public/images/Logo-bar.png') }}" alt="Servicio de Neurolog&iacute;a"></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <form method="POST" action="{{ path("fos_user_security_check") }}" class="navbar-form navbar-right" role="search">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" title="Por favor, ingrese el nombre de usuario" placeholder="Usuario">
                        <input type="password" class="form-control" id="password" name="_password" value="" required="required" title="Por favor, Ingrese la contrase&ntilde;a" placeholder="Contrase&ntilde;a">
                        <button type="submit" id="_submit" name="_submit" class="btn btn-default"/>Ingresar</button>

                    </form>     

                </ul>
            </div>
         
        </div>
        {% if error %}
            <div class="label label-danger" style="float: right;margin-top: -20px;width: 100%;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %} 
        
        <div class="bienvenida">
            <img class="img_bienvenida" src="{{ asset('public/images/OLDLogo.png') }}" alt="Logo SIRCH" title="SIRCH" />
            <h5>Bienvenido al Sistema de Registro de Historias Cl&iacute;nicas</h5>
        </div>
            
{% endblock fos_user_content %}
