{% include 'NeurologiaGenericosBundle:Default:mensajes.html.twig' %}
{% if (datosB or datos) %}
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Descripcion</th>
			<th>Tipo</th>
			<th>Categoria</th>
			<th>Fecha</th>
		</tr>
		{% for dato in datosB %}
			<tr>
				<td>
					{{ dato.Descripcion }}
				</td>
				<td>
					Definitivo
				</td>
				<td>
					{% if dato.categoriaDiagnostico.id is defined %}
						{{ dato.categoriaDiagnostico.descripcion }}
					{% endif %}
				</td>
				<td>
					{{ dato.Fecha|date("d/m/Y") }}
				</td>

			</tr>
		{% endfor %}
		{% for dato in datos %}
			<tr>
				<td>
					{{ dato.Descripcion }}
				</td>
				<td>
					Presuntivo
				</td>
				<td>
					{% if dato.Categoria is defined %}
						{{ dato.Categoria }}
					{% endif %}
				</td>
				<td>
					{{ dato.Fecha|date("d/m/Y") }}
				</td>

			</tr>
		{% endfor %}
	</table>
{% else %}
    no se encontraron diagnosticos
{% endif %}
</div>
