{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-primary" style="margin: auto; width: 950px;">

    <div class="panel-heading">
        <h3 class="panel-title">Registro de usuarios</h3>
    </div>
    <div class="panel-body">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_start(form) }}

                {{ form_errors(form) }}
                {{ form_errors(form.nombre) }}
                {{ form_errors(form.apellido) }}
                {{ form_errors(form.sexo) }}
                {{ form_errors(form.tipoDocumento) }}
                {{ form_errors(form.numero_documento) }}
                {{ form_errors(form.fecha_de_nacimiento) }}
                {{ form_errors(form.estadoCivil) }}
                {{ form_errors(form.telefono) }}
                {{ form_errors(form.direccion) }}
                {{ form_errors(form.roles) }}
                {{ form_errors(form.email) }}
                {{ form_errors(form.username) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second) }}
                <div>
                    <div style="width: 250px; float: left; margin: 25px;">
                        <div>
                            {{ form_label(form.nombre) }}
                            <br>
                            {{ form_widget(form.nombre, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.apellido) }}
                            <br>
                            {{ form_widget(form.apellido, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.sexo) }}
                            <br>
                            {{ form_widget(form.sexo, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.tipoDocumento) }}
                            <br>
                            {{ form_widget(form.tipoDocumento, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.numero_documento) }}
                            <br>
                            {{ form_widget(form.numero_documento, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>

                    </div>

                    <div style="width: 250px; float: left; margin: 25px;">
                        <div>
                            {{ form_label(form.fecha_de_nacimiento) }}
                            <br>
                            {{ form_widget(form.fecha_de_nacimiento, { 'attr': { 'style': 'float: left; line-height: 20px;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.estadoCivil) }}
                            <br>
                            {{ form_widget(form.estadoCivil, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.telefono) }}
                            <br>
                            {{ form_widget(form.telefono, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.direccion) }}
                            <br>
                            {{ form_widget(form.direccion, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.roles) }}
                            <br>
                            {{ form_widget(form.roles, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>

                    </div>

                    <div style="width: 250px; float: left; margin: 25px;">

                        <div>
                            {{ form_label(form.email) }}
                            <br>
                            {{ form_widget(form.email, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.username) }}
                            <br>
                            {{ form_widget(form.username, { 'attr': { 'style': 'float: left;' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.plainPassword.first) }}
                            <br>
                            {{ form_widget(form.plainPassword.first, { 'attr': { 'style': 'float: left;', 'class': 'form-control' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.plainPassword.second) }}
                            <br>
                            {{ form_widget(form.plainPassword.second, { 'attr': { 'style': 'float: left;', 'class': 'form-control' } }) }}
                        </div>
                        <br><br><br>
                        <div>
                            {{ form_label(form.enabled) }}
                            <br>
                            {{ form_widget(form.enabled, { 'attr': { 'style': 'float: left;', 'class': 'form-control' } }) }}
                        </div>
                        
                        <div style="float: right; margin-top: 20px;">
                            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
                            <input class="btn btn-primary" type="button" value="Volver" onclick="window.history.back()"/>
                        </div>
                    </div>
                </div>

            {{ form_end(form) }}
            
        </form>
    </div>
</div>