{% extends '::base.html.twig' %}

{% block body %}

    <a href="{{ path('tratamiento_interno_new') }}" class="help-block"> Agregar tratamiento</a>
    <a href="{{ path('neurologia_estudio_nuevo') }}" class="help-block"> Agregar estudio</a>
    <a href="{{ path('neurologia_diagnostico_new') }}" class="help-block"> Agregar diagn&oacute;stico</a>
  <fieldset>
    <legend>Evolucion:</legend>

        {{ form_start(form) }}
        
            {{ form_errors(form) }}

            <div>
                {{ form_label(form.evolucion) }}
                {{ form_errors(form.evolucion) }}
                {{ form_widget(form.evolucion) }}
                <span class="help-block">Debe introducir una descripci&oacute;n para la evoluci&oacute;n que desea agregar.</span>
            </div>
            <div>
                {{ form_label(form.fechaHora) }}
                {{ form_errors(form.fechaHora) }}
                {{ form_widget(form.fechaHora) }}
            </div>

            <div>
                
                {{ form_widget(form.aceptar) }}
                <a href="/Servicio-de-Neurologia---TTPS/web/evolucion">Cancelar</a>
            </div>

        {{ form_end(form) }}    
    
  </fieldset>

{% endblock %}