{% extends '::base.html.twig' %}

{% block body %}

  <fieldset>
    <legend>Evolucion:</legend>

        {{ form_start(form) }}
        
            {{ form_errors(form) }}

            <div>
                {{ form_label(form.evolucion) }}
                {{ form_errors(form.evolucion) }}
                {{ form_widget(form.evolucion) }}
                <span class="help-block">Debe introducir una descripci&oacute;n para la evoluci&oacute;n que desea agregar.</span>
            </div>
            <div>
                {% if tratinterno %}
                <table>
                    <tr><th>Descripci&oacute;n</th><th>Inicio</th><th>Activo</th><th>Acciones</th>
            {% for key,ti in tratinterno %}
                <tr><td>{{ ti.descripcion }}</td>
                    <td>{{ ti.inicio|date('d-m-Y') }}</td>
                    <td>{% if ti.activo %}Sí{% else %}No{% endif %}</td>
                    <td><a href="{{ path('tratamiento_interno_edit',{'id':key}) }}" >Editar</a>
                <a href="" >Eliminar</a></tr>
            {% endfor %}
                </table>
                {% endif %}
                {% if tratexterno %}
                     <table>
                         <tr><th>Descripci&oacute;n</th><th>Acciones</th></tr>
            {% for key,te in tratexterno %}
                <tr><td>{{ te.descripcion }}</td>
                <td><a href="{{ path('tratamiento_externo_edit',{'id':key}) }}" >Editar</a>
                <a href="" >Eliminar</a></tr>
            {% endfor %}
        </table>
                {% endif %}
    <a href="{{ path('tratamiento_interno_new') }}" class="help-block"> Agregar tratamiento</a>
    {% if diagnosticos %}
    <table>
        <tr><th>Descripci&oacute;n</th><th>Categoría</th><th>Acciones</th>
        {% for key,d in diagnosticos %}
            <tr><td>{{ d.descripcion }}</td>
                <td>{% if d.categoriaDiagnostico is defined %}{{ d.categoriaDiagnostico.descripcion }}{% endif %}</td>
                <td><a href="" >Editar</a>
                <a href="" >Eliminar</a>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ path('neurologia_diagnostico_new') }}" class="help-block"> Agregar diagn&oacute;stico</a>
    {% if estudios %}
    <table>
        <tr><th>Descripci&oacute;n</th><th>Tipo</th><th>Im&aacute;genes</th><th>Acciones</th>
        {% for key,e in estudios %}
            <tr><td>{{ e.descripcion }}</td>
                <td>{{ e.tipoEstudio }}</td>
                <td>{{ e.imagenes | length }}</td>
                <td><a href="" >Editar</a>
                <a href="" >Eliminar</a>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ path('neurologia_estudio_nuevo') }}" class="help-block"> Agregar estudio</a>
            </div>
            
            <div>
                
                {{ form_widget(form.aceptar) }}
                <a href="/Servicio-de-Neurologia---TTPS/web/evolucion">Cancelar</a>
            </div>

        {{ form_end(form) }}  
        
        
  </fieldset>

{% endblock %}