{% block contenido %}
    <div class="tab-pane">
        <div class="row-fluid">    
            <h2> Evoluciones </h2>
            
            {% if evoluciones is not empty %}

                

                <div class="table-responsive">
                    <table class="datatable_bootstrap table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Descripci&oacute;n</th>                        
                                <th>Autor</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for e in evoluciones %}
                                <tr>
                                    <td>{{ e.fechaHora|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ e.evolucion }}</td>
                                    <td>{{ e.usuario }}</td>
                                    <td>
                                        <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'evolucion_modificar', 'id':e.id , 'tab':'Evolucion'}) }}">
                                            <button type="submit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                                <img src="{{- asset('public/images/glyphicons/glyphicons-151-edit.png') -}}" alt="Editar usuario" title="Editar evolución"/>
                                            </buton>
                                        </a>
                                        <a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'evolucion_modificar', 'id':e.id , 'tab':'Evolucion'}) }}">
                                            <button type="submit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;">
                                                <img src="{{- asset('public/images/glyphicons/glyphicons-237-zoom-in.png') -}}" alt="Editar usuario" title="Ver evolución"/>
                                            </buton>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}

                <label> No existen evoluciones para el paciente seleccionado. </label>

            {% endif %}    

            <a class="btn btn-primary" href="{{ url('neurologia_historia_clinica_homepage', {'accion':'evolucion_nuevo', 'tab':'Evolucion'}) }}">Agregar evoluci&oacute;n</a>
            
        </div>
    </div>            
{% endblock %}