{% extends 'NeurologiaGenericosBundle:Default:edit.html.twig' %}

{% block titulo_modulo %}
    Edici&oacute;n de un tipo de estudio
{% endblock titulo_modulo %}

{% block form_abm %}

    {{ form_start(edit_form) }}

        <div style="width:auto; text-align: center;">
            {{ form_label(edit_form.descripcion) }}<br>
            {{ form_widget(edit_form.descripcion,{ 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(edit_form.descripcion) }}
        </div>
        <br>
        <div style="width:auto; text-align: center;">
            {{ form_label(edit_form.siglas) }}<br>
            {{ form_widget(edit_form.siglas,{ 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(edit_form.siglas) }}
        </div>
        <br><br>
        <div style="clear: both; text-align: center;">
            {{ form_widget(edit_form.submit,{ 'attr': { 'style': 'margin-bottom: 20px;' } }) }}

    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <a class="btn btn-primary" href="{{- path('tipoestudio') -}}">
            Volver
        </a>
        
        <a class="btn btn-primary" href="{{- path('tipoestudio_new') -}}">Nuevo</a>
    
        </div>
    
{% endblock form_abm %}