{% extends 'NeurologiaGenericosBundle:Default:new.html.twig' %}

{% block titulo_modulo %}
    Nuevo tipo de estudio
{% endblock titulo_modulo %}

{% block form_abm %}
                    
    {{ form_start(form, {'method': 'POST'}) }}

        <div style="width:auto; text-align: center;">
            {{ form_label(form.descripcion) }}<br>
            {{ form_widget(form.descripcion,{ 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.descripcion) }}
        </div>
        <br>
        <div style="width:auto; text-align: center;">
            {{ form_label(form.siglas) }}<br>
            {{ form_widget(form.siglas,{ 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.siglas) }}
        </div>
        <br><br>
        <div style="clear: both; text-align: center;">
            <a class="btn btn-primary" href="{{- path('tipoestudio') -}}">
                Volver
            </a>
            {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-success'} }) }}
        </div>

    {{ form_end(form) }}

{% endblock form_abm %}