{% if personales %}
<h2> personales </h2>
 <table class="records_list">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>

        {% for antecedente in personales %}
            <tr>
                <td>{{ antecedente.fecha|date('Y-m-d') }}</td>
                <td>{{ antecedente.descripcion }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if familiares %}
    <h2> familiares </h2>
    <table class="records_list">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
        {% for antecedente in familiares %}
            <tr>
                <td>{{ antecedente.fecha|date('Y-m-d') }}</td>
                <td>{{ antecedente.descripcion }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
        <ul>
        <li>
            <a href="{{ path('antecedente_new',{'idhistoria':historia.id}) }}">
                Nuevo Antecedente
            </a>
        </li>
        </ul>
