{% block body %}
    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <div class="alert alert-success" role="alert" style="display:block">
            {{ flashMessage }}
        </div>
            
        {% endfor %}
 <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Antecedentes personales</div>
    {% if personales is not empty %}
    <table class="table">
        <tbody>
        {% for antecedente in personales %}
            <tr>
                <td>{{ antecedente.fecha|date('d/m/Y') }} - {{ antecedente.descripcion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
        <label> Este paciente no registra antecedentes personales. </label>
    {% endif %}
</div>
 <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Antecedentes familiares</div>
        </div>
    {% if familiares is not empty %}
        <div class="panel-body">
	<table class="table">
        <tbody>
        {% for antecedente in familiares %}
            <tr>
                <td>{{ antecedente.fecha|date('d/m/Y') }} - {{ antecedente.descripcion }}</td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
        <label> Este paciente no registra antecedentes familiares. </label>
{% endif %}
</div>

        <a style="margin:auto" class="btn btn-primary" href="{{- path('antecedente_new') -}}">Nuevo</a>
{% endblock %}