{% block contenido %}
    <div class="tab-pane">
        <div class="row-fluid">    
            <h2> Antecedentes </h2>
            <div class="table-responsive">
                <table class="datatable_bootstrap table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripci&oacute;n</th>
                            <th>Tipo de antecedente</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for antecedente in personales %}
                            <tr>
                                <td>{{ antecedente.fecha|date('d/m/Y') }}</td>
                                <td>{{ antecedente.descripcion }}</td>
                                <td> Personal</td>
                            </tr>
                        {% endfor %}
                        {% for antecedente in familiares %}
                            <tr>
                                <td>{{ antecedente.fecha|date('d/m/Y') }}</td>
                                <td>{{ antecedente.descripcion }}</td>
                                <td> Familiar </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <a class="btn btn-primary" href="{{ url('neurologia_historia_clinica_homepage', {'accion':'antecedente_nuevo', 'tab':'Antecedente'}) }}">Nuevo antecedente</a>   
        
        </div>
    </div>
{% endblock contenido %}