{% if personales %}
<h2> Personales </h2>
 <div class="table-responsive">
	<table class="table">
        <thead>
           {# <tr>
                <th>Descripcion</th> 
                <th>Agregado el</th> 
            </tr>#}
        </thead>
        <tbody>

        {% for antecedente in personales %}
            <tr>
                <td>{{ antecedente.fecha|date('Y-m-d') }} - {{ antecedente.descripcion }}</td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
    {% endif %}
    {% if familiares %}
    <h2> Familiares </h2>
    <div class="table-responsive">
	<table class="table">
        <thead>
         {#   <tr>
                <th>Descripcion</th>
                <th>Agregado el</th> 
            </tr> #}
        </thead>
        <tbody>
        {% for antecedente in familiares %}
            <tr>
                <td>{{ antecedente.fecha|date('Y-m-d') }} - {{ antecedente.descripcion }}</td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
{% endif %}
        <ul>
        <li>
            <a href="{{ path('antecedente_new') }}">
                Nuevo Antecedente
            </a>
        </li>
        </ul>
